.graphics {
  width: 75vw;
  height: 40vh;
  text-align: center;
}
.graphics img {
  width: 75vw;
  height: 40vh;
}
.projects {
  background-color: black;
  padding: 20px;
}
.title {
  width: 80%;
}
.title h3 {
  font-size: 30px;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    180deg,
    #a52bd8 0%,
    #d931ab 30%,
    #f26530 65%,
    #f1a81d 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 0;
}
.title P {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.designHub {
  width: 65vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
.first {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  padding: 20px;
  row-gap: 20px;
}
.grid-3 {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  row-gap: 2.5rem;
  background-color: #000101;
  padding: 10px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 50vh;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  row-gap: 10px;
}
.box img {
  position: relative;
  width: 25vw;
  height: 40vh;
  z-index: 0;
  margin-top: 15px;
}
.box-text {
  position: absolute;
  z-index: 1;
  background-color: rgba(59, 58, 58, 0.741);
  height: 10vh;
  width: 15vw;
  text-align: center;
  margin-top: 33vh;
}
.big-box {
  margin-top: 30px;
}
.uig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100vh;
  text-align: center;
}
.ui img {
  width: 75vw;
  height: 40vh;
}
.port img {
  width: 65vw;
  height: 35vh;
}
.box-texts {
  position: absolute;
  z-index: 1;
  background-color: rgba(59, 58, 58, 0.741);
  left: 35vw;
}
.box-imgs {
  position: relative;
  z-index: 0;
}
